<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cheapest Instagram Growth</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <header id="header">
      <div class="container">
        <% include partials/header-main.ejs %>
      </div>
    </header>

    <!--==========================
      Intro Section
      ============================-->
    <section id="intro">
      <div class="intro-text">
        <h2>Cheapeast Instagram Growth</h2>
        <p>We provide fully organic Instagram growth at the lowest market rate, guaranteed</p>
        <a href="register" class="btn-get-started scrollto">Start a free trial, no credit card required</a>
      </div>
      <div class="product-screens">
        <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
          <img src="img/insta-home.gif" alt="">
        </div>
        <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
          <img src="img/likes.gif" alt="">
        </div>
        <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
          <img src="img/hashtag.png" alt="">
        </div>
      </div>
    </section>
    <!-- #intro -->

    <main id="main">
      <!--==========================
        Product Featuress Section
        ============================-->
      <section id="features" class="section-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-4">
              <div class="section-header wow fadeIn" data-wow-duration="1s">
                <h3 class="section-title">Service Featuress</h3>
                <span class="section-divider"></span>
              </div>
            </div>
            <div class="col-lg-4 col-md-5 features-img">
              <img src="img/product-features.png" alt="" class="wow fadeInLeft">
            </div>
            <div class="col-lg-8 col-md-7 ">
              <div class="row">
                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                  <div class="icon"><i class="ion-pound"></i></div>
                  <h4 class="title"><a href="">Set Hashtags to Track</a></h4>
                  <p class="description">Set up to five hashtags relevant to you to determine where your likes and follows are allocated</p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                  <div class="icon"><i class="ion-ios-heart"></i></div>
                  <h4 class="title"><a href="">Auto-Like Relevant Posts</a></h4>
                  <p class="description">Auto-like posts containing the hashtags you track at up to 70 posts per hour</p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                  <div class="icon"><i class="ion-android-person-add"></i></div>
                  <h4 class="title"><a href="">Auto-Follow Relevant Users</a></h4>
                  <p class="description">Automatically follow users that engage with content containing the hashtags you track</p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                  <div class="icon"><i class="ion-android-delete"></i></div>
                  <h4 class="title"><a href="">Customizable Unfollow Mode</a></h4>
                  <p class="description">Keep your ratio of followers to following in balance by using the Unfollow mode to automatically unfollow users who don't follow you back</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #features -->

      <!--==========================
        Call To Action Section
        ============================-->
      <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Modest Pricing for Full Fledged Growth Features</h3>
              <p class="cta-text"> Despite our name and our lowest market prices, CIG provides full fledged features to grow Instagram accounts quickly and organically. CIG provides all if not more features than other growth sites while providing best in class customer service. </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="register">Start a Free Trial</a>
            </div>
          </div>
        </div>
      </section>
      <!-- #call-to-action -->

      <!--==========================
        Pricing Section
        ============================-->
      <section id="pricing" class="section-bg">
        <div class="container">
          <div class="section-header">
            <h3 class="section-title">Pricing</h3>
            <span class="section-divider"></span>
            <p class="section-description">Start with a free full-fledged trial, then purchase the subscription that best fits your needs</p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="box featured wow fadeInLeft">
                <h3>Free Trial</h3>
                <h4><sup>$</sup>0<span> / 5 Days</span></h4>
                <ul>
                  <li><i class="ion-android-checkmark-circle"></i> Set up to 5 hashtags to track</li>
                  <li><i class="ion-android-checkmark-circle"></i> Auto-like up to 70 posts/hr</li>
                  <li><i class="ion-android-checkmark-circle"></i> Auto-follow up to 20 users/hr</li>
                  <li><i class="ion-android-checkmark-circle"></i> Auto-Unfollow up to 20 users/hr</li>
                </ul>
                <a href="subscribe" class="get-started-btn">Get Started</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="box featured wow fadeInUp">
                <h3>Basic Subscription</h3>
                <h4><sup>$</sup>5<span> / month</span></h4>
                <ul>
                  <li><i class="ion-android-checkmark-circle"></i> Set up to 5 hashtags to track</li>
                  <li><i class="ion-android-checkmark-circle"></i> Auto-like up to 70 posts/hr</li>
                  <li><strike><i class="fa fa-times-circle" style="color:#dc3545"></i> Auto-follow up to 20 users/hr</strike></li>
                  <li><strike><i class="fa fa-times-circle" style="color:#dc3545"></i> Auto-Unfollow up to 20 users/hr</strike></li>
                </ul>
                <a href="subscribe" class="get-started-btn">Get Started</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="box featured wow fadeInRight">
                <h3>Full Subscription</h3>
                <h4><sup>$</sup>25<span> month</span></h4>
                <ul>
                  <li><i class="ion-android-checkmark-circle"></i> Set up to 5 hashtags to track</li>
                  <li><i class="ion-android-checkmark-circle"></i> Auto-like up to 70 posts/hr</li>
                  <li><i class="ion-android-checkmark-circle"></i> Auto-follow up to 20 users/hr</li>
                  <li><i class="ion-android-checkmark-circle"></i> Auto-Unfollow up to 20 users/hr</li>
                </ul>
                <a href="subscribe" class="get-started-btn">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #pricing -->

      <!--==========================
        Frequently Asked Questions Section
        ============================-->
      <section id="faq">
        <div class="container">
          <div class="section-header">
            <h3 class="section-title">Frequently Asked Questions</h3>
            <span class="section-divider"></span>
          </div>
          <ul id="faq-list" class="wow fadeInUp">
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Is CIG safe? <i class="ion-android-remove"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  Yes, CIG is safe! We take security seriously to ensure your account information is protectd. Additionally, we use algorithms that have been carefully crafted over time to ensure the Instagram accounts we grow do not get flagged.
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#faq2" class="collapsed">How is CIG so cheap? <i class="ion-android-remove"></i></a>
              <div id="faq2" class="collapse" data-parent="#faq-list">
                <p>
                  Although automated Instagram account growth is complex, we found that the current market prices for the services are a inexplicably expensive. We provide all if not more features than our competitors at a lower price while providing best in class customer service.
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#faq4" class="collapsed">What payment methods does CIG accept?<i class="ion-android-remove"></i></a>
              <div id="faq4" class="collapse" data-parent="#faq-list">
                <img src="img/paypal-cc-button.png">
                <p>
                  <br/>
                  All of CIG's billing is completed through Paypal to ensure that all payments are handled securely. Paypal accepts all major credit cards, including MasterCard, Visa, American Express, and Discover.
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#faq3" class="collapsed">I have a question that's not listed here! <i class="ion-android-remove"></i></a>
              <div id="faq3" class="collapse" data-parent="#faq-list">
                <p>
                  Contact us via e-mail and we'll get back to you within the day.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- #faq -->

      <!--==========================
        About Us Section
        ============================-->
      <section id="about" class="section-bg">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Our Story</h3>
            <span class="section-divider"></span>
          </div>
          <div class="row">
            <div class="col-lg-6 about-img wow fadeInLeft">
              <img src="img/about-img.jpg" alt="">
            </div>
            <div class="col-lg-6 content wow fadeInRight">
              <h2>CIG was initially created for private use...</h2>
              <p>
                CIG Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- #about -->

    </main>

    <!--==========================
      Footer
      ============================-->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <% include partials/footer.ejs %>
        </div>
      </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/magnific-popup/magnific-popup.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

  </body>
</html>
