<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cheapest Instagram Growth</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="css/style-side.css" rel="stylesheet">
  </head>

  <div id="wrapper">
    <div id="header">
      <div class="container">
        <% include partials/header-side.ejs %>
      </div>
    </div><!-- #header -->

    <div id="body">
      <div class="section-bg">
        <div class="section-header">
          <h3 class="section-title">Subscribe</h3>
          <span class="section-divider"></span>
          <p class="section-description-side">Subscribe using Paypal's secure payment platform by making a selection below - prices are billed monthly, cancel anytime</p>

          <div id="spinnerDiv" style="display:none">
            <div class="loader"></div>
            <br/><br/><br/>
            <p style="text-align:center"><b>Please wait, redirecting to Paypal...<br>We'll see you back here after your payment!</b></p>
          </div>
          <section id="pricing" class="section-bg">
            <% if (locals.user.subscription_status == "trial") { %>
                <% include partials/subscribe-new.ejs %>
            <% } else if (locals.user.subscription_status == "cancelled") { %>
                <% include partials/subscribe-new.ejs %>
            <% } else if (locals.user.subscription_status == "basic") { %>
                <% include partials/subscribe-upgrade.ejs %>
            <% } else if (locals.user.subscription_status == "full") { %>
                <% include partials/subscribe-downgrade.ejs %>
            <% } else { // default %>
                <% include partials/subscribe-new.ejs %>
            <% } %>
          </section>

        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <link rel="shortcut icon" href=".ico">
        <div class="row">
          <% include partials/footer.ejs %>
        </div>
      </div>
    </div>

  </div>

  <script>
    function showSpinner() {
      var spinner = document.getElementById("spinnerDiv");
      spinner.style.display = "block";
    }
  </script>
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>
  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
</html>